<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <?define vcredist_x86="http://download.microsoft.com/download/2/E/6/2E61CFA4-993B-4DD4-91DA-3737CD5CD6E3/vcredist_x86.exe"?>
  <Fragment>
    <util:RegistrySearch Root="HKLM" Key="SOFTWARE\Microsoft\DevDiv\vc\Servicing\12.0\HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\DevDiv\vc\Servicing\12.0\RuntimeMinimum" Value="Install" Variable="vcredist" />
    <PackageGroup Id="vcredist">
      <!--<PackageGroupRef Id="InstallVCRedist"/>-->
      <ExePackage Id="vcredist_x86"
        Cache="no"
        Compressed="no"
        PerMachine="yes"
        Permanent="yes"
        Vital="yes"
        Name="Redist\vcredist_x86.exe"
        SourceFile="C:\Program Files (x86)\Microsoft Visual Studio 12.0\VC\redist\1033\vcredist_x86.exe"
        DownloadUrl="$(var.vcredist_x86)"
        InstallCommand="/q"
        DetectCondition="vcredist AND (vcredist &gt;= 1)">
        <ExitCode Value ="3010" Behavior="forceReboot" />
      </ExePackage>
    </PackageGroup>
  </Fragment>
</Wix>