<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <!--<add  verb="GET,POST" path="*.dae" name="HandlerFactory" type="ExperimotWeb.HandlerFactory" modules="IsapiModule"/>scriptProcessor="%path%\aspnet_isapi.dll"-->
      <add name="SampleHandler" verb="*"
        path="*.dae"
        type="ExperimotWeb.DaeRequestHandler, App_Code"
        resourceType="Unspecified" />
    </handlers>
  </system.webServer>
    <system.web>
      
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      
      <!--<httpHandlers>
        <add verb="GET,POST" path="*.dae" type="ExperimotWeb.HandlerFactory" />
      </httpHandlers>-->
      
      <!--<httpHandlers>
        <add verb="*" path="*.dae"
        type="ExperimotWeb.DaeRequestHandler , App_Code" />
      </httpHandlers>-->
    </system.web>
  
</configuration>
