<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncIO" version="0.1.17.0" targetFramework="net45" />
  <package id="Caliburn.Micro" version="3.0.0-alpha" targetFramework="net45" />
  <package id="Caliburn.Micro.Core" version="3.0.0-alpha" targetFramework="net45" />
  <package id="cef.redist.x64" version="3.2171.2069" targetFramework="net45" />
  <package id="cef.redist.x86" version="3.2171.2069" targetFramework="net45" />
  <package id="CefSharp.Common" version="39.0.1" targetFramework="net45" />
  <package id="CefSharp.Wpf" version="39.0.1" targetFramework="net45" />
  <package id="Common.Logging" version="3.1.0" targetFramework="net45" />
  <package id="Common.Logging.Core" version="3.1.0" targetFramework="net45" />
  <package id="CsvHelper" version="2.13.2.0" targetFramework="net45" />
  <package id="Nancy" version="1.2.0" targetFramework="net45" />
  <package id="Nancy.Hosting.Self" version="1.2.0" targetFramework="net45" />
  <package id="ncalc" version="1.3.8" targetFramework="net45" />
  <package id="NetMQ" version="3.3.0.12-rc1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="protobuf-net" version="2.0.0.668" targetFramework="net45" />
  <package id="Quartz" version="2.3.2" targetFramework="net45" />
  <package id="SharpDX" version="3.0.0-alpha01" targetFramework="net45" />
  <package id="SharpDX.Mathematics" version="3.0.0-alpha01" targetFramework="net45" />
</packages>