<div class="bbm-modal__topbar">
    <h3 class="bbm-modal__title">Select the Program</h3>
</div>
<div class="bbm-modal__section">
    <p id="feedback">
        <span>Selected Program:</span> <span id="select-program">None</span>.
    </p>
    <ul id="program-list">
        <!--<li class="ui-widget-content">Item 1</li>
        <li class="ui-widget-content">Item 2</li>
        <li class="ui-widget-content">Item 3</li>
        <li class="ui-widget-content">Item 4</li>
        <li class="ui-widget-content">Item 5</li>
        <li class="ui-widget-content">Item 6</li>-->
    </ul>
</div>
<div class="bbm-modal__bottombar">
    <a href="#" class="bbm-button open-button">Open</a>
</div>