<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="DATA">
            <Directory Id="dir621E4AEC50C733F7D47E9CAFBD21B26B" Name="calib">
                <Component Id="cmpEB1F3AAFEC39FC47AAB77C5FCCC65799" Guid="{EFD7AC03-EBD1-47C3-9337-68344CCE0D1A}">
                    <File Id="filA7C7DBE3797FD7482E5F5BD667F4A644" KeyPath="yes" Source="!(wix.DataPath)\calib\camera_calibration_kinect_1600.xml" />
                </Component>
                <Component Id="cmp613BDFBF4952EC9DDDF47B41F472F37B" Guid="{98DAB0A6-82A1-4C40-B524-57DB3EFFBDBB}">
                    <File Id="fil59516EE36A1EC783FDCA3BA511E13BF7" KeyPath="yes" Source="!(wix.DataPath)\calib\camera_calibration_kinect_1600_al.xml" />
                </Component>
                <Component Id="cmp303A06B0D27B6FB9BB6205F5E917ECB1" Guid="{C4B2D62A-C8BF-445E-BB4E-83C93B7C4C6A}">
                    <File Id="fil668EF07D41F2BE5815BA839D48E5A7CF" KeyPath="yes" Source="!(wix.DataPath)\calib\camera_calibration_kinect_1600_old.xml" />
                </Component>
                <Component Id="cmpB619ED43F5499D0CE379B12091FADCDF" Guid="{BBEA1EF4-AE6D-4041-AAAD-07829957ABCE}">
                    <File Id="filD8AD7DB5AE1835DF42BA3A1988F9D8EC" KeyPath="yes" Source="!(wix.DataPath)\calib\out_camera_data.yml" />
                </Component>
                <Component Id="cmpF9849CEB8BB36FE8A352675FABF00474" Guid="{00E42C13-8731-4D5A-AD1C-A7C6C0782BFE}">
                    <File Id="filDDBEE83291E5B42293413E0D0E4E4FBF" KeyPath="yes" Source="!(wix.DataPath)\calib\out_camera_data_first.yml" />
                </Component>
                <Component Id="cmpEF5D0D38B1751E99467A452AA5C6DDC5" Guid="{E7BD3BCE-0CDE-412B-8AE2-CB2F39C97F34}">
                    <File Id="filF9CD4EF4F8818BBE37E4E448013E7055" KeyPath="yes" Source="!(wix.DataPath)\calib\sample_opencv_calib.xml" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="Data">
            <ComponentRef Id="cmpEB1F3AAFEC39FC47AAB77C5FCCC65799" />
            <ComponentRef Id="cmp613BDFBF4952EC9DDDF47B41F472F37B" />
            <ComponentRef Id="cmp303A06B0D27B6FB9BB6205F5E917ECB1" />
            <ComponentRef Id="cmpB619ED43F5499D0CE379B12091FADCDF" />
            <ComponentRef Id="cmpF9849CEB8BB36FE8A352675FABF00474" />
            <ComponentRef Id="cmpEF5D0D38B1751E99467A452AA5C6DDC5" />
        </ComponentGroup>
    </Fragment>
</Wix>