<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
	<Product Id="*" Name="Indriya" Language="1033" Version="0.1.0.0" Manufacturer="GVLab" UpgradeCode="5e8e74f1-f639-4333-b3c1-da2708cfa6fa">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

    <WixVariable Id="BinPath" Value="$(env.INDRIYA_ROOT)\bin"/>
    <WixVariable Id="DataPath" Value="$(env.INDRIYA_ROOT)\data"/>
    <WixVariable Id="ScriptsPath" Value="$(env.INDRIYA_ROOT)\scripts"/>
    <WixVariable Id="ShareDataPath" Value="$(env.INDRIYA_ROOT)\share"/>
    <WixVariable Id="ScriptCsDataPath" Value="$(env.INDRIYA_DATA_ROOT)\scriptcs"/>
    <WixVariable Id="WebPath" Value="$(env.INDRIYA_WEB_ROOT)"/>
    
		<Feature Id="ProductFeature" Title="IndriyaInstaller" Level="1">
			<!--<ComponentGroupRef Id="ProductComponents" />-->
      <ComponentGroupRef Id="Bin" />      
      <ComponentGroupRef Id="Data" />
      <ComponentGroupRef Id="Share" />
      <ComponentGroupRef Id="Scripts" />
      <ComponentGroupRef Id="Scriptcs" />
      <ComponentGroupRef Id="Web" />
      <ComponentGroupRef Id="SetEnvironmentVariables" />
      <ComponentRef Id="ApplicationShortcut"/>
		</Feature>
    <UI Id="IndriyaInstallerUI">
      <UIRef Id="WixUI_FeatureTree"/>
    </UI>
	</Product>
  
	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Indriya">
          <Directory Id="BIN" Name="bin"/>
          <Directory Id="DATA" Name="data"/>
          <Directory Id="SHARE" Name="share"/>
          <Directory Id="SCRIPTS" Name="scripts" />
        </Directory>
			</Directory>
      <!--<Directory Id="ProgramMenuFolder">-->
      <Directory Id="DesktopFolder" Name="Desktop">
        <Directory Id="ApplicationProgramsFolder" Name="Indriya"/>
      </Directory>
      <Directory Id="CommonAppDataFolder">
        <Directory Id="INDRIYADATAFOLDER" Name="Indriya">
          <Directory Id="WEB" Name="web" >
          </Directory>
          <Directory Id="SCRIPTCS" Name="scriptcs">
          </Directory>
        </Directory>
      </Directory>
		</Directory>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="{6BA7AE3C-E983-4257-A990-51C11CE1A0FD}">
        <Shortcut Id="ApplicationStartMenuShortcut"
             Name="Indriya"
           Description="HRI scenario designer"
            Target="[BIN]Indriya.Application.exe"
                  WorkingDirectory="BIN"/>
        <!--<Shortcut Id="ApplicationStartMenuShortcut"
             Name="Indriya"
           Description="HRI scenario designer"
            Target="[BIN]\Indriya.Application.exe"
                  WorkingDirectory="BIN"/>-->
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software/Indriya" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
	</Fragment>

	<Fragment>
    <ComponentGroup Id="SetEnvironmentVariables">
      <Component Id="IndriyaRootEnvVar" Directory="INSTALLFOLDER" Guid="{A0DC7FF2-5A18-428E-B433-B0D82703D72E}" KeyPath="yes">
        <Environment Id="INDRIYA_ROOT"
                         Action="set"
                         Part="all"
                         Name="INDRIYA_ROOT"
                         Permanent="no"
                         System="no"
                         Value="[INSTALLFOLDER]" />
      </Component>
      <Component Id="IndriyaWebEnvVar" Directory="WEB" Guid="{41B19076-19A2-44B2-8251-B1FEF3BDA463}" KeyPath="yes">
        <Environment Id="INDRIYA_WEB_ROOT"
                         Action="set"
                         Part="all"
                         Name="INDRIYA_WEB_ROOT"
                         Permanent="no"
                         System="no"
                         Value="[WEB]" />
      </Component>
      <Component Id="IndriyaDataEnvVar" Directory="INDRIYADATAFOLDER" Guid="{BC901EE9-93EC-49CD-93BD-B83C3BB92C92}" KeyPath="yes">
        <Environment Id="INDRIYA_DATA_ROOT"
                         Action="set"
                         Part="all"
                         Name="INDRIYA_DATA_ROOT"
                         Permanent="no"
                         System="no"
                         Value="[INDRIYADATAFOLDER]" />
      </Component>
    </ComponentGroup>
	</Fragment>
</Wix>